version: "3.9"
services:
  alto-web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "80:8080"
    restart: unless-stopped
    volumes:
      - ./agents:/app/agents
      - ./config:/app/config
